{% extends "template.html" %}
{% block conteudo %}

    <form action="{{ url_for('criar') }}" method="post" enctype="multipart/form-data">
      <figure class="thumb col-md-4">
            <img class="img-responsive" src="{{ url_for('imagem', nome_arquivo='capa_padrao.jpg') }}">
            <figcaption>
                <label class="fileContainer">
                    Mudar capa
                    <input type="file" name="arquivo" accept=".jpg">
                </label>
            </figcaption>
        </figure>
        <fieldset>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
          <div class="form-group">
            <label for="raca">Raca</label>
            <input type="text" id="raca" name="raca" class="form-control">
          </div> <div class="form-group">
            <label for="porte">Porte</label>
            <input type="text" id="porte" name="porte" class="form-control">
          </div>
          <div class="form-group">
            <label for="dono">Dono</label>
            <input type="text" id="dono" name="dono" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
          <a class="btn btn-danger" href="{{ url_for('cadastros') }}">Voltar</a>
        </fieldset>
    </form>
{% endblock %}